<!-- <div class="modal-header">
    <h3>Modal header</h3>
  </div>
  <div class="modal-body">
   <h4>Just something random here</h4>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div> -->


<button ng-click='open()' class='btn btn-info modal-btn'>
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="4 0 25 25" fill="white">
        <path d="M12 11a4 4 0 1 0-4-4 4 4 0 0 0 4 4z" />
        <path d="M18 21a1 1 0 0 0 1-1 7 7 0 0 0-14 0 1 1 0 0 0 1 1z" />
    </svg>
</button>
<div ng-hide='hidden' class='trans-layer'></div>
<div ng-hide='hidden' class='modal-container' ng-class='{modalactive: !hidden}' ng-transclude>
    <div class='modal-heading'>{{player.name}}</div>
    <div class='modal-cont'></div>

    <input type="text" id="p{{index}}Tag" class="textInput mousetrap tagInput" tabindex="2" placeholder="Tag" title="Insert the tag/team/sponsor here" spellcheck="false" contenteditable="true" ng-model="player.tag">
    <!-- <input type="text" id="p0Name" class="textInput mousetrap nameInput" tabindex="2" placeholder="Player 1" title="Insert P1's name here" spellcheck="false" ng-model="players[0].name" ng-blur="setPlayerFieldFocus(false)" ng-focus="setPlayerFieldFocus(true); checkPlayerPreset(0)" ng-change="checkPlayerPreset(0)"> -->
    <!-- <div class="playerFinder" id="pFinder0"></div> -->
    <input type="text" id="p{{index}}Twitter" class="textInput mousetrap twitterInput" tabindex="2" placeholder="Twitter" title="Insert P{{number}}'s Twitter here" spellcheck="false" ng-model="player.twitter">
    <input type="text" id="p{{index}}Pronouns" class="textInput mousetrap pronounInput" tabindex="2" placeholder="Pronouns" title="Insert P{{number}}'s Pronouns here" spellcheck="false" ng-model="player.pronouns">
    <!-- <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div> -->
</div>