<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>RoA Stream Tool (Ateozc Custom)</title>
  <link rel="stylesheet" href="CSS/GUI.css">
  <script src="Scripts/mousetrap.min.js" defer></script>
  <script src="Scripts/jquery.min.js" defer></script>
  <script src="Scripts/GUI.js" defer></script>
  <script src="Scripts/angular.min.js"></script>
  <script type="text/javascript" src="Scripts/ntc.js"></script>
</head>

<body>

  <div ng-app="angularapp" ng-controller="AngularAppCtrl" id="viewport">
    <!-- so we can move the viewport easily -->


    <div id="bracket">

    </div>


    


    <div id="overlay">
      
      <div id="playerRegion">
        <div class="playerFinder" id="pFinder" ng-show="showProfileList()">
          <div class="finderEntry" ng-repeat="profile in playerProfiles" ng-mouseout="setProfileSelectorFocus(false)" ng-mouseover="setProfileSelectorFocus(true)" ng-click="applyProfile($index, $event)">
            <span>

            </span>
            <span class="pfName">{{profile.name}}</span>
            <span>

            </span>
            <span>

            </span>
            <span class="pfChar">{{profile.character}}</span>
            <div class="pfCharImgBox">
              <img class="pfCharImg" ng-src='{{getSkinPath(profile.character, profile.skin)}}' ng-style="{{getTransformForCharImage(profile.character, profile.skin)}}">
            </div>
          </div>
        </div>
        
        


        <div id="lSide" class="side" ng-style="getBackgroundGradient('left')">
          <div class="charImgBox">
            <img ng-if="gamemode=='Singles'" id="p1CharImg" class="charImg" ng-class="{'charImgRandom' : players[0].guiSkinPath.indexOf('Random.png') != -1}" ng-src="{{getSkinPathForPlayer(0)}}" />
          </div>

          
          <div class="sideEditor">
            
            <div class="row" id="row1-1">
              
              <input ng-if="gamemode=='Teams'" type="text" id="teamName1" class="teamName textInput mousetrap" tabindex="1" placeholder="Team 1 name" spellcheck="false" contenteditable="true" ng-model="sides.left.teamName">

              <div ng-if="gamemode=='Singles'" class="playerInfo" id="pInfo0">
                <player-info-modal player="players[0]" index="0" number="1" fields="playerFields"></player-info-modal>
                <div class="pFinderPosition" id="pFinderBox0">
                  <input type="text" id="p0Name" class="textInput mousetrap nameInput" tabindex="2" placeholder="Player 1" title="Insert P1's name here" spellcheck="false" ng-model="players[0].name" ng-blur="setPlayerFieldFocus(false)" ng-focus="setPlayerFieldFocus(true); checkPlayerPreset(0)" ng-change="checkPlayerPreset(0)">
                  <div class="playerFinder" id="pFinder0"></div>
                </div>
              </div>

              <input type="color" class="textInput" ng-model="sides.left.color.hex" ng-show="useCustomColors" ng-change="setSideColorFromHex('left')">
              <button class="textInput" ng-click="saveColorPreset('left')" ng-show="useCustomColors">Save Preset</button>

              <div id="lColor" class="pColor" tabindex="-1" title="Change the color slot for this player" ng-show="!useCustomColors">
                <div class="colorContainer">
                  <div id="lColorRect" class="pColorRect" ng-style="{'background-color': sides.left.color.hex}"></div>
                </div>
                <div class="dropdownColor" id="dropdownColorL">
                  <div ng-repeat="color in colorList" title="Also known as {{color.hex}}" class="colorEntry" ng-click="setSideColor('left', color.name, color.hex)">
                    <div style="width: 13px; height: 13px; margin: 5px;" ng-style="{'background-color': color.hex}"></div>
                    <div>{{color.name}}</div>
                  </div>
                </div>
              </div>

            </div>
            <div class="row" id="row2-1" ng-repeat="player in players | limitTo: players.length/2" ng-init="playerIndex = $index; playerNumber = $index + 1">
              
              <div ng-if="gamemode=='Teams'" class="playerInfo" id="pInfo{{playerIndex}}">
                <player-info-modal player="players[playerIndex]" index="playerIndex" number="playerNumber" fields="playerFields"></player-info-modal>
                <div class="pFinderPosition" id="pFinderBox{{playerIndex}}">
                  <input type="text" id="p{{playerIndex}}Name" class="textInput mousetrap nameInput" tabindex="3" placeholder="Player {{playerNumber}}" title="Insert P{{playerNumber}}'s name here" spellcheck="false" ng-model="players[playerIndex].name" ng-blur="setPlayerFieldFocus(false)" ng-focus="setPlayerFieldFocus(true); checkPlayerPreset(playerIndex)" ng-change="checkPlayerPreset(playerIndex)">
                  <div class="playerFinder" id="pFinder{{playerIndex}}"></div>
                </div>
              </div>

              <div ng-if="playerIndex==0 || gamemode=='Teams'" title="Everyone is here!" style="position: relative;" ng-init="filter=''; show=false; focused=false" ng-click="(!focused) ? show=!show : ''; filter=''">
                <div class="selector">
                  <img ng-src="{{getIconPath(players[playerIndex].character)}}">
                  <span>{{players[playerIndex].character}}</span>
                  <div class="finder" ng-show="show || focused || filter">
                    <input type="text" placeholder="Type to filter..." class="listSearch mousetrap" ng-model="filter" ng-focus="focused=true" ng-blur="focused=false;">
                    <div class="searchList">
                      <div class="finderEntry" ng-repeat="character in characterList | filter: {name: filter}" ng-click="players[playerIndex].character = character.name; markCharacterIndex(playerIndex)">
                        <img ng-src="{{getIconPath(character.name)}}">
                        <span>{{character.name}}</span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div ng-if="playerIndex==0 || gamemode=='Teams'" ng-hide="players[playerIndex].character == 'Random'" style="position: relative;"  ng-init="filter=''; show=false; focused=false" ng-click="(!focused) ? show=!show : ''; filter=''">
                <div class="selector">
                  {{players[playerIndex].skin}}
                  <div class="skinFinder finder" ng-show="show || focused || filter">
                    <input type="text" placeholder="Type to filter..." class="listSearch mousetrap" ng-model="filter" ng-focus="focused=true" ng-blur="focused=false">
                    <div class="searchList" >
                      <div class="finderEntry" ng-repeat="skin in characterList[players[playerIndex].characterIndex].skins | filter: {label: filter}" ng-click="players[playerIndex].skinIndex = skin.index; setSkinBasedOnIndex(playerIndex);">
                        <span class="pfName">{{skin.label}}</span>
                        <div class="pfCharImgBox">
                          <img class="pfCharImg" ng-src='{{getSkinPath(players[playerIndex].character, skin.label)}}' ng-style="{{getTransformForCharImage(players[playerIndex].character, skin.label)}}">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" id="row3-1">
              <div class="scoreBox" id="scoreBox1" title="Press F1 to increase the score" ng-if="usePips">
                <span id="scoreText1">Wins</span>
                <input type="checkbox" id="leftWin1" class="scoreCheck mousetrap" tabindex="-1" ng-model="sides.left.checkboxes[0]" ng-change="scoreboxChanged('left', 0)">
                <input type="checkbox" id="leftWin2" class="scoreCheck mousetrap" tabindex="-1" ng-model="sides.left.checkboxes[1]" ng-change="scoreboxChanged('left', 1)">
                <input type="checkbox" id="leftWin3" class="scoreCheck mousetrap" tabindex="-1" ng-model="sides.left.checkboxes[2]" ng-change="scoreboxChanged('left', 2)" ng-if="roundInfo.bestOf=='Bo5'">
              </div>
              <input type="number" id="playerWins1" class="textInput mousetrap" placeholder="0" spellcheck="false" tabindex="4" min=0 value=0 ng-model="sides.left.score" ng-if="!usePips" ng-change="updateCheckboxes('left')">

              <div class="wlButtons" id="wlButtons1" ng-if="showWLBoxes()">
                <div id="p1W" class="wlBox" ng-class="{'buttonSelected' : sides.left.wl == 'W'}" ng-click="setWL('left', 'W')">[W]</div>
                <div id="p1L" class="wlBox" ng-class="{'buttonSelected' : sides.left.wl == 'L'}" ng-click="setWL('left', 'L')">[L]</div>
              </div>
            </div>
          </div>
        </div>

        <div id="sideSep">
          <div id="swapButton" title="Swap P1's and P2's values" ng-click="swap()">
            <load-svg src="SVGs/Swap.svg" class="icon midIcon" id="swapIcon"></load-svg>
          </div>
          <div id="clearButton" title="Clear player names, character and win values. [Shortcut: Esc]" ng-click="clearPlayers()">
            <load-svg src="SVGs/Trash.svg" class="icon midIcon" id="clearIcon"></load-svg>
          </div>
        </div>


        <div id="rSide" class="side" ng-style="getBackgroundGradient('right')">

          <div class="charImgBox">
            <img ng-if="gamemode=='Singles'" id="p2CharImg" class="charImg" ng-class="{'charImgRandom' : players[1].character == 'Random'}" ng-src="{{getSkinPathForPlayer(1)}}" />
          </div>

          <div class="sideEditor">

            <div class="row" id="row1-2">
              
              <input ng-if="gamemode=='Teams'" type="text" id="teamName2" class="teamName textInput mousetrap" tabindex="1" placeholder="Team 2 name" spellcheck="false" contenteditable="true" ng-model="sides.right.teamName">

              <div ng-if="gamemode=='Singles'" class="playerInfo" id="pInfo2">
                <player-info-modal player="players[1]" index="1" number="2" fields="playerFields"></player-info-modal>
                <div class="pFinderPosition" id="pFinderBox2">
                  <input type="text" id="p2Name" class="textInput mousetrap nameInput" tabindex="2" placeholder="Player 2" title="Insert P2's name here." spellcheck="false" ng-model="players[1].name" ng-blur="setPlayerFieldFocus(false)" ng-focus="setPlayerFieldFocus(true); checkPlayerPreset(1)" ng-change="checkPlayerPreset(1)">
                  <div class="playerFinder" id="pFinder2"></div>
                </div>
              </div>


              <input type="color" class="textInput" ng-model="sides.right.color.hex" ng-show="useCustomColors" ng-change="setSideColorFromHex('right')">
              <button class="textInput" ng-click="saveColorPreset('right')" ng-show="useCustomColors">Save Preset</button>

              <div id="rColor" class="pColor" tabindex="-1" ng-show="!useCustomColors">

                <div class="colorContainer" title="Change the color slot for this player">
                  <div id="rColorRect" class="pColorRect" ng-style="{'background-color': sides.right.color.hex}"></div>
                </div>
                <div class="dropdownColor" id="dropdownColorR">
                  <div ng-repeat="color in colorList" title="Also known as {{color.hex}}" class="colorEntry" ng-click="setSideColor('right', color.name, color.hex)">
                    <div style="width: 13px; height: 13px; margin: 5px;" ng-style="{'background-color': color.hex}"></div>
                    <div>{{color.name}}</div>
                  </div>
                </div>
              </div>

            </div>

            <div class="row" id="row2-2" ng-repeat="player in players | limitTo: -players.length/2">
              <div ng-if="gamemode=='Teams'" class="playerInfo" id="pInfo{{getPlayerIndexRightSide($index)}}">
                <player-info-modal player="players[getPlayerIndexRightSide($index)]" index="getPlayerIndexRightSide($index)" number="$index + players.length/2 + 1" fields="playerFields"></player-info-modal>
                <div class="pFinderPosition" id="pFinderBox{{getPlayerIndexRightSide($index)}}">
                  <input type="text" id="p{{getPlayerIndexRightSide($index)}}Name" class="textInput mousetrap nameInput" tabindex="3" placeholder="Player {{$index + players.length/2 + 1}}" ng-attr-title="Player {{$index + players.length/2 + 1}}" spellcheck="false" ng-model="players[getPlayerIndexRightSide($index)].name" ng-blur="setPlayerFieldFocus(false)" ng-focus="setPlayerFieldFocus(true); checkPlayerPreset(getPlayerIndexRightSide($index))" ng-change="checkPlayerPreset(getPlayerIndexRightSide($index))">
                  <div class="playerFinder" id="pFinder{{getPlayerIndexRightSide($index)}}"></div>
                </div>
              </div>


              <div ng-if="getPlayerIndexRightSide($index)==1 || gamemode=='Teams'" title="Everyone is here!" style="position: relative;" ng-init="playerIndex=getPlayerIndexRightSide($index); filter=''; show=false; focused=false" ng-click="(!focused) ? show=!show : ''; filter=''">
                <div class="selector">
                  <img ng-src="{{getIconPath(players[getPlayerIndexRightSide($index)].character)}}">
                  <span>{{players[getPlayerIndexRightSide($index)].character}}</span>
                  <div class="finder" ng-show="show || focused || filter">
                    <input type="text" placeholder="Type to filter..." class="listSearch mousetrap" ng-model="filter" ng-focus="focused=true" ng-blur="focused=false">
                    <div class="searchList">
                      <div class="finderEntry" ng-repeat="character in characterList | filter: {name: filter}" ng-click="players[getPlayerIndexRightSide($parent.$index)].character = character.name; markCharacterIndex(getPlayerIndexRightSide($parent.$index))">
                        <img ng-src="{{getIconPath(character.name)}}">
                        <span>{{character.name}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div ng-if="getPlayerIndexRightSide($index)==1 || gamemode=='Teams'" ng-hide="players[getPlayerIndexRightSide($index)].character == 'Random'" style="position: relative;"  ng-init="filter=''; show=false; focused=false" ng-click="(!focused) ? show=!show : ''; filter=''">
                <div class="selector">
                  {{players[getPlayerIndexRightSide($parent.$index)].skin}}
                  <div class="skinFinder finder" ng-show="show || focused || filter">
                    <input type="text" placeholder="Type to filter..." class="listSearch mousetrap" ng-model="filter" ng-focus="focused=true" ng-blur="focused=false">
                    <div class="searchList" >
                      <div class="finderEntry" ng-repeat="skin in characterList[players[getPlayerIndexRightSide($parent.$index)].characterIndex].skins | filter: {label: filter}" ng-click="players[getPlayerIndexRightSide($parent.$index)].skinIndex = skin.index; setSkinBasedOnIndex(getPlayerIndexRightSide($parent.$index));">
                        <span class="pfName">{{skin.label}}</span>
                        <div class="pfCharImgBox">
                          <img class="pfCharImg" ng-src='{{getSkinPath(players[getPlayerIndexRightSide($parent.$index)].character, skin.label)}}' ng-style="{{getTransformForCharImage(players[getPlayerIndexRightSide($parent.$index)].character, skin.label)}}">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
            

            <div class="row" id="row3-2">
              <div class="scoreBox" id="scoreBox2" title="Press F2 to increase the score" ng-if="usePips">
                <span id="scoreText2">Wins</span>
                <input type="checkbox" id="rightWin1" class="scoreCheck mousetrap" tabindex="-1" ng-model="sides.right.checkboxes[0]" ng-change="scoreboxChanged('right', 0)">
                <input type="checkbox" id="rightWin2" class="scoreCheck mousetrap" tabindex="-1" ng-model="sides.right.checkboxes[1]" ng-change="scoreboxChanged('right', 1)">
                <input type="checkbox" id="rightWin3" class="scoreCheck mousetrap" tabindex="-1" ng-model="sides.right.checkboxes[2]" ng-change="scoreboxChanged('right', 2)" ng-if="roundInfo.bestOf=='Bo5'">
              </div>
              <input type="number" id="playerWins2" class="textInput mousetrap" placeholder="0" spellcheck="false" tabindex="4" min=0 value=0 ng-model="sides.right.score" ng-if="!usePips" ng-change="updateCheckboxes('right')">

              <div class="wlButtons" id="wlButtons2" ng-if="showWLBoxes()">
                <div id="p2W" class="wlBox" ng-class="{'buttonSelected' : sides.right.wl == 'W'}" ng-click="setWL('right', 'W')">[W]</div>
                <div id="p2L" class="wlBox" ng-class="{'buttonSelected' : sides.right.wl == 'L'}" ng-click="setWL('right', 'L')">[L]</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="addressRockerInfo" ng-show="addressRockerSettings.useAddressRocker && addressRockerSettings.showInfo">
        <div class="row">Address Rocker information: </div>
        <div class="row">Auto Update Characters: {{addressRockerSettings.enableCharacterUpdate}}</div>
        <div class="row">Auto Update Skins: {{addressRockerSettings.enableSkinUpdate}}</div>
        <div class="row">Auto Update Best Of: {{addressRockerSettings.enableBestOfUpdate}}</div>
        <div class="row">Auto Update Scores: {{addressRockerSettings.enableScoreUpdate}}</div>
        <div class="row">Currently in Match: {{addressRockerSettings.inMatch}}</div>
        <div class="row">Currently in Set: {{addressRockerSettings.inSet}}</div>
      </div>

      <div id="botRegion">

        <div id="roundInfo">

          <div ng-if="usePips" id="bestOf">
            <div id="bo3Div" class="bestOfBox" ng-class="{'buttonSelected' : roundInfo.bestOf == 'Bo3'}" ng-click="setBestOf('Bo3')">Best of 3</div>
            <div id="bo5Div" class="bestOfBox" ng-class="{'buttonSelected' : roundInfo.bestOf == 'Bo5'}" ng-click="setBestOf('Bo5')">Best of 5</div>
          </div>

          <select id="roundName" class="textInput mousetrap" title="Current Round" tabindex="4" ng-model="roundInfo.name" ng-hide="useCustomRound" ng-change="roundChange()">
            <option ng-repeat="round in roundNames" value="{{round}}">{{round}}</option>
          </select>
          <input type="text" id="roundName" class="textInput mousetrap" title="Current Round" placeholder="Round Name" spellcheck="false" tabindex="4" ng-model="roundInfo.name" ng-show="useCustomRound" ng-change="roundChange()">
          <input type="number" id="roundNumber" class="textInput mousetrap" placeholder="0" spellcheck="false" tabindex="4" min=0 ng-model="roundInfo.number" ng-if="showRoundNumber()" ng-change="logStuff()">
          <input type="text" id="tournamentName" class="textInput mousetrap" placeholder="Tournament Name" spellcheck="false" tabindex="4" ng-model="tournamentName">

          <div id="gamemode" class="bestOfBox" title="Change the gamemode to Singles" ng-if="gamemode=='Teams'" ng-click="setGamemode()">
            Singles
          </div>
          <div id="gamemode" class="bestOfBox" title="Change the gamemode to Teams" ng-if="gamemode=='Singles'" ng-click="setGamemode()">
            Teams
          </div>
        </div>


        <div style="text-align: center;justify-content: center;" ng-click="showCasterInfo = !showCasterInfo; saveGUISettings()">
          <span ng-if="showCasterInfo">---------- Caster Information (Click to Hide) ----------</span>
          <span ng-if="!showCasterInfo">---------- Caster Information (Click to Show) ----------</span>
        </div>

        <div id=casterInfo ng-show="showCasterInfo">
          <div ng-repeat="caster in casters" ng-init="casterNumber = $index + 1">
            <div id="caster{{casterNumber}}" class="caster">


              <div class="casterGroup casterNameG">
                <load-svg src="SVGs/Mic.svg" class="icon casterIcon"></load-svg>
                <input type="text" id="cName{{casterNumber}}" class="textInput mousetrap" placeholder="Caster {{casterNumber}} name" spellcheck="false" ng-model="casters[$index].name">
              </div>

              <div class="casterGroup casterSocialG">
                <load-svg src="SVGs/Twitter.svg" class="icon casterIcon twitterIcon"></load-svg>
                <input type="text" id="cTwitter{{casterNumber}}" class="textInput mousetrap" placeholder="Caster {{casterNumber}} twitter" spellcheck="false" ng-model="casters[$index].twitter">
              </div>

              <div class="casterGroup casterSocialG">
                <load-svg src="SVGs/Twitch.svg" class="icon casterIcon twitchIcon"></load-svg>
                <input type="text" id="cTwitch{{casterNumber}}" class="textInput mousetrap" placeholder="Caster {{casterNumber}} Twitch" spellcheck="false" ng-model="casters[$index].twitch">
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="text-align: center;justify-content: center;" ng-click="showOnDeck = !showOnDeck; saveGUISettings()">
          <span ng-if="showOnDeck">---------- On Deck Information (Click to Hide) ----------</span>
          <span ng-if="!showOnDeck">---------- On Deck Information (Click to Show) ----------</span>
        </div>

        <div id="onDeckInfo" ng-show="showOnDeck" style="padding:0px">

          <div class="row" style="display:inline;width:50%;padding: 0px;">
            <div class="onDeckPlayerInfo" id="pInfo{{$index}}OnDeck" ng-repeat="player in onDeckPlayers" ng-if="$index == 0 || $index == 1 || gamemode=='Teams'">


              <div class="playerInfo" id="pInfo{{$index}}OnDeck">
                <player-info-modal player="player" index="$index" number="$index+1" fields="playerFields"></player-info-modal>
                <!-- <input type="text" id="p{{$index}}TagOnDeck" class="textInput mousetrap tagInput" tabindex="3" placeholder="Tag" title="Insert the tag/team/sponsor here" spellcheck="false" contenteditable="true" ng-model="onDeckPlayers[$index].tag"> -->
                <div class="pFinderPosition" id="pFinderBox{{$index}}OnDeck">
                  <input type="text" id="p{{$index}}NameOnDeck" class="textInput mousetrap nameInput" tabindex="3" placeholder="Player {{$index + 1}}" ng-attr-title="Player {{$index + 1}}" spellcheck="false" ng-model="onDeckPlayers[$index].name" ng-blur="setPlayerFieldFocus(false)" ng-focus="setPlayerFieldFocus(true); checkPlayerPreset($index, true)" ng-change="checkPlayerPreset($index, true)">
                  <div class="playerFinder" id="pFinder{{$index}}"></div>
                  <!-- <input type="text" id="p{{$index}}TwitterOnDeck" class="textInput mousetrap nameInput" tabindex="2" placeholder="Twitter" title="Insert P{{$index + 1}}'s Twitter here" spellcheck="false" ng-model="onDeckPlayers[$index].twitter"> -->
                  <!-- <input type="text" id="p{{$index}}PronounsOnDeck" class="textInput mousetrap pronounInput" tabindex="2" placeholder="Pronouns" title="Insert P{{$index + 1}}'s Pronouns here" spellcheck="false" ng-model="onDeckPlayers[$index].pronouns"> -->
                </div>
              </div>
              <select id="p{{$index}}Char" class="charCombo mousetrap charList" title="Everyone is here!" tabindex="-1" ng-model="onDeckPlayers[$index].character" ng-change="markCharacterIndex($index, true, true)">
                <option class="theEntry" ng-repeat="character in characterList" value={{character.name}}>{{character.name}}</option>
              </select>
              <select ng-hide="onDeckPlayers[$index].character == 'Random'" id="p{{$index}}Skin" class="charCombo mousetrap skinList" tabindex="-1" ng-model="onDeckPlayers[$index].skinIndex" ng-change="setSkinBasedOnIndex($index, -1, true)">
                <option class="theEntry" ng-repeat="skin in characterList[onDeckPlayers[$index].characterIndex].skins" ng-value="{{skin.index}}">{{skin.label}}</option>
              </select>
            </div>
          </div>
          <div class="row" style="padding:0px">
            <button id="onDeckToStream" title="Move to stream setup" ng-click="onDeckToStream()">
              Move On Deck to Stream
            </button>
            <div id="onDeckRoundInfo" style="padding:0px">
              <div ng-if="usePips" id="onDeckBestOf">
                <div id="onDeckBo3Div" class="bestOfBox" ng-class="{'buttonSelected' : onDeckRoundInfo.bestOf == 'Bo3'}" ng-click="setBestOf('Bo3', true)">Bo3</div>
                <div id="onDeckBo5Div" class="bestOfBox" ng-class="{'buttonSelected' : onDeckRoundInfo.bestOf == 'Bo5'}" ng-click="setBestOf('Bo5', true)">Bo5</div>
              </div>
              <select id="onDeckRoundName" class="textInput mousetrap" title="Round" tabindex="4" ng-model="onDeckRoundInfo.name" ng-hide="useCustomRound" ng-change="roundChange()">
                <option ng-repeat="round in roundNames" value="{{round}}">{{round}}</option>
              </select>
              <input type="text" id="onDeckRoundName" class="textInput mousetrap" title="Round" placeholder="Round Name" spellcheck="false" tabindex="4" ng-model="onDeckRoundInfo.name" ng-show="useCustomRound" ng-change="roundChange()">
              <input type="number" id="onDeckRoundNumber" class="textInput mousetrap" placeholder="0" spellcheck="false" tabindex="4" min=0 ng-model="onDeckRoundInfo.number" ng-if="showRoundNumber(true)">
            </div>
          </div>
        </div>

        <div id="botBar">
          <div id="updateRegion" class="botRegion" title="Save current info to the json file. [Shortcut: Enter]" ng-click="writeScoreboard()">
            <div class="rectangle"></div>
            <span class="botText">UPDATE</span>
            <div class="rectangle"></div>
          </div>
          <div id="settingsRegion" class="icon botRegion" title="Settings">
            <load-svg src="SVGs/Settings.svg" id="configIcon"></load-svg>
          </div>
        </div>

      </div>

    </div>

    <div id="settings">
      <div id="settingsTitle">{{settingsPageName}}</div>

      <div id="actualSettings">

        <div ng-show="settingsPageNumber==1">
          <div class="settingBox" title="Select a game to use.">
            <label for="gameSelect" class="settingsText">Game</span>
              <select id="gameSelect" class="textInput mousetrap" title="Game Select" tabindex="-1" ng-model="game" ng-change="gameChanged();">
                <option ng-repeat="game in games" value="{{game}}">{{game}}</option>
              </select>
          </div>

          <div class="settingBox" title="Fixes profiles for currently selected game">
            <!-- <button id="fixProfiles" class="" tabindex="-1" ng-model="fixProfiles" ng-click="fixProfilesForCurrentGame()">Fix Profiles</button> -->
          </div>

          <div class="settingBox" title="Plays an intro on 'RoA Scoreboard.html' whenever the file loads.">
            <input type="checkbox" id="allowIntro" class="settingsCheck" tabindex="-1" ng-model="allowIntro" ng-change="saveGUISettings()">
            <label for="allowIntro" class="settingsText">Allow Intro</span>
          </div>

          <div ng-show="game=='Rivals of Aether'" class="settingBox" title="Select a game to use.">
            <label for="curSeasonalSkin" class="settingsText">Seasonal Skin Select</span>
              <select id="curSeasonalSkin" class="textInput mousetrap" title="Seasonal Skin Select" tabindex="-1" ng-model="seasonalSkin" ng-change="updateSeasonalSkins();">
                <option ng-repeat="skin in seasonalSkins" value="{{skin}}">{{skin}}</option>
              </select>
          </div>

          <div class="settingBox" title="Forces HD renders to appear on the VS screen,
  while keeping the regular renders for the scoreboard." ng-show="game=='Rivals of Aether'">
            <label for="forceHD" class="settingsText">Display HD renders</span>
            <select id="forceHD" class="textInput mousetrap" title="Select when you want to display HD Renders" tabindex="-1" ng-model="forceHDChoice" ng-change="HDtoggle();">
              <option ng-repeat="option in hdOptions" value="{{option}}">{{option}}</option>
            </select>
          </div>

          <div class="settingBox" title="Will just show regular HD renders in the
  VS Screen even when LoA skins are selected." ng-show="game=='Rivals of Aether'">
            <input type="checkbox" id="noLoAHD" class="settingsCheck" ng-disabled="!forceHD" tabindex="-1" ng-model="noLoAHD" ng-change="saveGUISettings()">
            <label for="noLoAHD" class="settingsText">No LoA HD renders</span>
          </div>

          <div class="settingBox" title="Forces the [W]/[L] buttons to appear on the interface.
  They will always appear when typing 'Grand' in the round box.">
            <input type="checkbox" id="forceWLToggle" class="settingsCheck" tabindex="-1" ng-model="forceWL" ng-change="saveGUISettings()">
            <label for="forceWLToggle" class="settingsText">Force [W] / [L]</span>
          </div>

          <div class="settingBox" title="When toggled on, score will be displayed using pips. When toggled off, score will be displayed with a number.">
            <input type="checkbox" id="pipsToggle" class="settingsCheck" tabindex="-1" ng-disabled='!checkIfRoundSupportsPips()' ng-model="usePips" ng-change="saveGUISettings()">
            <label for="pipsToggle" class="settingsText">Use Score Pips</span>
          </div>

          <div class="settingBox" title="Prevents other windows to be displayed on top of this one.">
            <input type="checkbox" id="alwaysOnTop" class="settingsCheck" tabindex="-1" ng-model="alwaysOnTop" ng-change="alwaysOnTopToggle()">
            <label for="alwaysOnTop" class="settingsText">Window always on top</span>
          </div>

          <div class="settingBox" title="Use a custom Round Name instead of a pre-made list.">
            <input type="checkbox" id="useCustomRound" class="settingsCheck" tabindex="-1" ng-model="useCustomRound" ng-change="saveGUISettings()">
            <label for="useCustomRound" class="settingsText">Use Custom Round Name</span>
          </div>

          <div class="settingBox" title="Use a custom Color instead of a color preset.">
            <input type="checkbox" id="useCustomColors" class="settingsCheck" tabindex="-1" ng-model="useCustomColors" ng-change="saveGUISettings()">
            <label for="useCustomColors" class="settingsText">Use Custom Colors</span>
          </div>

          <div class="settingBox" title="Use Team names instead of Player names for clipboard (teams only)" ng-show="gamemode == 'Teams'">
            <input type="checkbox" id="useTeamNames" class="settingsCheck" tabindex="-1" ng-model="useTeamNames" ng-change="saveGUISettings()">
            <label for="useTeamNames" class="settingsText">Use Team Names for Clipboard</span>
          </div>

          <button id="copyMatch" tabindex="-1" title='"Tournament Name - Round - Player1 (Character1) VS Player2 (Character2)"' ng-click="copyToClipboard()">
            Copy match info to clipboard
          </button>
        </div>
        <!-- Page 2, Automated Stream Tool -->
        <div ng-show="settingsPageNumber==2">
          <div ng-show="game=='Rivals of Aether' || game=='Rivals Workshop'">
            <div class="settingBox" title="Toggle the ability to use the Address Rocker Json file">
              <input type="checkbox" id="useAddressRocker" class="settingsCheck" tabindex="-1" ng-model="addressRockerSettings.useAddressRocker" ng-change="toggleSetStop(); saveGUISettings();">
              <label for="useAddressRocker" class="settingsText">Use Address Rocker for Tool Control</span>
            </div>
            <div class="settingBox" title="Toggle showing info on tool">
              <input type="checkbox" id="showAddressRockerInfo" class="settingsCheck" tabindex="-1" ng-model="addressRockerSettings.showInfo" ng-change="saveGUISettings()">
              <label for="showAddressRockerInfo" class="settingsText">Toggle AddressRocker info display</span>
            </div>
            <div class="settingBox" title="Toggle automatic character updates" ng-hide="game != 'Rivals of Aether'">
              <input type="checkbox" id="enableCharacterUpdate" class="settingsCheck" tabindex="-1" ng-model="addressRockerSettings.enableCharacterUpdate" ng-change="saveGUISettings()">
              <label for="enableCharacterUpdate" class="settingsText">Toggle Automatic Character update</span>
            </div>
            <div class="settingBox" title="Toggle automatic skin color updates" ng-hide="game != 'Rivals of Aether'">
              <input type="checkbox" id="enableSkinUpdate" class="settingsCheck" tabindex="-1" ng-model="addressRockerSettings.enableSkinUpdate" ng-change="saveGUISettings()">
              <label for="enableSkinUpdate" class="settingsText">Toggle Automatic Skin update</span>
            </div>
            <div class="settingBox" title="Toggle automatic best of updates">
              <input type="checkbox" id="enableBestOfUpdate" class="settingsCheck" tabindex="-1" ng-model="addressRockerSettings.enableBestOfUpdate" ng-change="saveGUISettings()">
              <label for="enableBestOfUpdate" class="settingsText">Toggle Automatic Best Of update</span>
            </div>
            <div class="settingBox" title="Toggle automatic score updates">
              <input type="checkbox" id="enableScoreUpdate" class="settingsCheck" tabindex="-1" ng-model="addressRockerSettings.enableScoreUpdate" ng-change="saveGUISettings()">
              <label for="enableScoreUpdate" class="settingsText">Toggle Automatic Score update</span>
            </div>
            <div class="settingBox" title="Toggle automatic team color updates">
              <input type="checkbox" id="enableTeamColorUpdate" class="settingsCheck" tabindex="-1" ng-model="addressRockerSettings.setTeamColor" ng-change="saveGUISettings()">
              <label for="enableTeamColorUpdate" class="settingsText">Toggle Automatic Team Color update</span>
            </div>
            <button id="startSet" class="addressRockerSetButtons" tabindex="-1" title='Start the Set to begin automated checks' ng-if="addressRockerSettings.useAddressRocker && addressRockerSettings.inSet == false" ng-click="toggleSetStart()">
              Start Set (Enables Auto Check for Changes)
            </button>
            <button id="stopSet" class="addressRockerSetButtons" tabindex="-1" title='Stop the Set to stop automated checks' ng-show="addressRockerSettings.useAddressRocker && addressRockerSettings.inSet == true" ng-click="toggleSetStop()">
              Stop Set (Disables Auto Check for Changes)
            </button>
          </div>

          <div ng-hide="game=='Rivals of Aether' || game=='Rivals Workshop'">Cant use Address Rocker with this game. Full support on Rivals of Aether. Score and Best Of support for Rivals Workshop.</div>

        </div>

        <!-- Page 3, OBS Settings -->
        <div ng-show="settingsPageNumber==3">
          <div class="settingBox" title="Toggle the ability to use OBS Auto Control. You must use Auto Stream Tool feature.">
            <input type="checkbox" id="useObsAutomation" class="settingsCheck" tabindex="-1" ng-model="obsSettings.useObsAutomation" ng-change="saveOBSSettings()">
            <label for="useObsAutomation" class="settingsText">OBS Auto Control</span>
          </div>
          <div>
            <!-- <div class="settingBox" title="Toggle automatic set recording.">
              <input type="checkbox" id="autoRecordSets" class="settingsCheck" tabindex="-1" ng-model="obsSettings.autoRecordSets" ng-change="saveOBSSettings()">
              <label for="autoRecordSets" class="settingsText">Toggle automatic set recording</span>
            </div> -->
            <div class="settingBox" title="This sets how scenes will change on OBS.">
              <label for="autoChangeScenes" class="settingsText">OBS Scene Control:</span>
                <select id="autoChangeScenes" class="textInput mousetrap" title="This sets how scenes will change on OBS." tabindex="-1" ng-model="obsSettings.autoChangeScenes" ng-change="saveOBSSettings()">
                  <option value="manualFromOBS">Manual from OBS</option>
                  <option value="manualFromTool">Manual from Stream Tool</option>
                  <option value="addressRockerAuto" ng-if="game=='Rivals of Aether' || game=='Rivals Workshop'">Auto from Address Rocker</option>
                </select>
            </div>
            <div class="settingBox" title="This sets how scenes will change on OBS." ng-show="obsSettings.autoChangeScenes == 'manualFromTool'">
              <label for="obsCurrentScene" class="settingsText">Change OBS Scene</span>
                <select id="obsCurrentScene" class="textInput mousetrap" title="This sets the current Scene in OBS." tabindex="-1" ng-model="selectedScene" ng-change="obsSetScreen(selectedScene, true)">
                  <option value="startScene">Start Scene</option>
                  <option value="vsScreenName">Vs Screen Scene</option>
                  <option value="scoreboardSceneName">Scoreboard Scene</option>
                  <option value="endScene">End Scene</option>

                </select>
            </div>
            <div class="settingBox" title="The name as it appears in OBS for the scene to be used when a set starts.">
              <label for="startScene" class="settingsText">Set Start Scene</span>
                <input type="text" id="startScene" class="settingsCheck" tabindex="-1" ng-model="obsSettings.startScene" ng-change="saveOBSSettings()">
            </div>
            <div class="settingBox" title="The name as it appears in OBS for the scene to be used when players are not fighting.">
              <label for="vsScreenName" class="settingsText">VS Screen Scene</span>
                <input type="text" id="vsScreenName" class="settingsCheck" tabindex="-1" ng-model="obsSettings.vsScreenName" ng-change="saveOBSSettings()">
            </div>
            <div class="settingBox" title="The name as it appears in OBS for the scene to be used when you are showing the players fight.">
              <label for="scoreboardSceneName" class="settingsText">Scoreboard Scene</span>
                <input type="text" id="scoreboardSceneName" class="settingsCheck" tabindex="-1" ng-model="obsSettings.scoreboardSceneName" ng-change="saveOBSSettings()">
            </div>
            <div class="settingBox" title="The name as it appears in OBS for the scene to be used when a set ends.">
              <label for="endScene" class="settingsText">Set End Scene</span>
                <input type="text" id="endScene" class="settingsCheck" tabindex="-1" ng-model="obsSettings.endScene" ng-change="saveOBSSettings()">
            </div>
          </div>
        </div>

        <div class="row pageButtons">
          <button class="textInput inline" tabindex="-1" ng-show="showSettingsPagePrevButton()" ng-click="changeSettingsPage(-1)">Previous</button>
          <div class="inline"><span>Page {{settingsPageNumber}}</span></div>
          <button class="textInput inline" tabindex="-1" ng-show="showSettingsPageNextButton()" ng-click="changeSettingsPage(1)">Next</button>
        </div>

      </div>
    </div>

    <div id="goBack"></div>

  </div>

</body>

</html>