
:root {

    --clipPortraits: ''; /*polygon(-5% 0%, 71% 5%, 75% 28%, -8% 100%); clips singles portraits*/

    /* If you want a special layout for dubs, make sure to mimic how it looks for Rivals of Aether.
    Anything that does not have dubs and you change the gamemode to dubs for will default to Rivals of Aether settings */
    /* Default for Rivals of Aether - RoA */
    /* Singles */
    --scoreboardRoAX: 470px;
    --scoreboardRoAY: 25px;
    --roundInfoRoAX: 0px;
    --roundInfoRoAY: 892px;
    --scoreboardRoAScale: 1;
    --roundInfoRoAScale: 1;
    /* Doubles */
    --scoreboardRoAXDoubles: 15px;
    --scoreboardRoAYDoubles: 15px;
    --roundInfoRoAXDoubles: 0px;
    --roundInfoRoAYDoubles: 892px;
    --scoreboardRoAScaleDoubles: 1;
    --roundInfoRoAScaleDoubles: 1;

    /* Rivals Workshop - RoAWS*/
    --scoreboardRoAWSX: 470px;
    --scoreboardRoAWSY: 25px;
    --roundInfoRoAWSX: 0px;
    --roundInfoRoAWSY: 892px;
    --scoreboardRoAWSScale: 1;
    --roundInfoRoAWSScale: 1;
    /* Rivals Workshop Doubles */
    --scoreboardRoAWSXDoubles: 470px;
    --scoreboardRoAWSYDoubles: 25px;

    /* Rivals of Aether II - RoAII*/
    --scoreboardRoAIIX: 370px;
    --scoreboardRoAIIY: 40px;
    --roundInfoRoAIIX: 0px;
    --roundInfoRoAIIY: -5px;
    --scoreboardRoAIIScale: 1.25;
    --roundInfoRoAIIScale: 1;

    /* Rivals of Aether II Doubles */
    --scoreboardRoAIIXDoubles: 70px;
    --scoreboardRoAIIYDoubles: 45px;
    --roundInfoRoAIIXDoubles: 0px;
    --roundInfoRoAIIYDoubles: -5px;
    --scoreboardRoAIIScaleDoubles: 1.25;
    --roundInfoRoAIIScaleDoubles: 1;


    /* SSBU */
    /* Different good heights: 
    120 (if center)
    25 if center and players moved, left would be 430ish for players

    if top left:
    -750X 0-200Y

    if top right:
    800X y0 || 100
     */
    --scoreboardSSBUX: 470px;
    --scoreboardSSBUY: 25px;
    --roundInfoSSBUX: 800px;
    --roundInfoSSBUY: 92px;
    --scoreboardSSBUScale: 1;
    --roundInfoSSBUScale: 1;
    
    /* Third Strike */
    --scoreboardSF3SX:530px;
    --scoreboardSF3SY:0px;
    --roundInfoSF3SX: 0px;
    --roundInfoSF3SY: 182px;
    --scoreboardSF3SScale: 0.85;
    --roundInfoSF3SScale: 1;

    /* GGS */
    /* 340 if 1scale 620 at .85*/
    --scoreboardGGSX: 340px; 
    --scoreboardGGSY: 0px;
    --roundInfoGGSX: 0px;
    --roundInfoGGSY: 992px;
    --scoreboardGGSScale: 1;/* scale(0.85); Test around with this scale*/
    --roundInfoGGSScale: 1;

    /* GGxrdRev2 */
    /* 340 if 1scale 620 at .85*/
    --scoreboardGGXR2X: 495px; 
    --scoreboardGGXR2Y: 0px;
    --roundInfoGGXR2X: 0px;
    --roundInfoGGXR2Y: 992px;
    --scoreboardGGXR2Scale: 0.75;
    --roundInfoGGXR2Scale: 1;

     /* Tekken 7 */
    /* 340 if 1scale 620 at .85*/
    --scoreboardT7X: 450px; 
    --scoreboardT7Y: 0px;
    --roundInfoT7X: 0px;
    --roundInfoT7Y: 7px;
    --scoreboardT7Scale: 0.85;
    --roundInfoT7Scale: 1;

    /* BBCF */
    /* 340 if 1scale 620 at .85*/
    --scoreboardBBCFX: 425px; 
    --scoreboardBBCFY: 0px;
    --roundInfoBBCFX: 0px;
    --roundInfoBBCFY: 992px;
    --scoreboardBBCFScale: 1; /* scale(0.9); */
    --roundInfoBBCFScale: 1;


    /* DO NOT TOUCH */
    --scoreboardX: var(--scoreboardRoAX);
    --scoreboardY: var(--scoreboardRoAY);
    --roundInfoX: var(--roundInfoRoAX);
    --roundInfoY: var(--roundInfoRoAY);
    --scoreboardScale: var(--scoreboardRoAScale);
    --roundInfoScale: var(--roundInfoRoAScale); /* Currently unused, but feel free to use this.*/
}

.scoreboard {
    top: var(--scoreboardY);
}

#scoreboardL { /* we only modify scale of Left scoreboard and Right scoreboard, not parent.*/
    left: var(--scoreboardX);
    transform: scale(calc(var(--scoreboardScale) * 1), var(--scoreboardScale));
    clip-path: var(--clipPortraits);
}

#scoreboardR {
    right: var(--scoreboardX);
    /* transform: scaleX(-1); */
    transform: scale(calc(var(--scoreboardScale) * -1), var(--scoreboardScale));
    clip-path: var(--clipPortraits);
}

#roundDiv {
    transform: scale(var(--roundInfoScale), var(--roundInfoScale)) translate(var(--roundInfoX), var(--roundInfoY));
}