
:root {

    /* Default for Rivals/Ws */
    --scoreboardRoAX: 470px;
    --scoreboardRoAY: 25px;
    --roundInfoRoAX: 0px;
    --roundInfoRoAY: 900px;

    --scoreboardRoAWSX: 470px;
    --scoreboardRoAWSY: 25px;
    --roundInfoRoAWSX: 0px;
    --roundInfoRoAWSY: 900px;

    --scoreboardR2X: 470px;
    --scoreboardR2Y: 25px;
    --roundInfoR2X: 0px;
    --roundInfoR2Y: 900px;


    /* SSBU */
    /* Different good heights: 
    120 (if center)
    25 if center and players moved, left would be 430ish for players

    if top left:
    -750X 0-200Y

    if top right:
    800X y0 || 100
     */
    --scoreboardSSBUX: 470px;
    --scoreboardSSBUY: 25px;
    --roundInfoSSBUX: 800px;
    --roundInfoSSBUY: 100px;
    
    /* Third Strike */
    --scoreboardSF3SX:530px;
    --scoreboardSF3SY:0px;
    --roundInfoSF3SX: 0px;
    --roundInfoSF3SY: 190px;
    /* GGS */
    /* 340 if 1scale 620 at .85*/
    --scoreboardGGSX: 340px; 
    --scoreboardGGSY: 0px;
    --roundInfoGGSX: 0px;
    --roundInfoGGSY: 1000px;

    /* GGxrdRev2 */
    /* 340 if 1scale 620 at .85*/
    --scoreboardGGXR2X: 495px; 
    --scoreboardGGXR2Y: 0px;
    --roundInfoGGXR2X: 0px;
    --roundInfoGGXR2Y: 1000px;

     /* Tekken 7 */
    /* 340 if 1scale 620 at .85*/
    --scoreboardT7X: 450px; 
    --scoreboardT7Y: 0px;
    --roundInfoT7X: 0px;
    --roundInfoT7Y: 15px;

    /* BBCF */
    /* 340 if 1scale 620 at .85*/
    --scoreboardBBCFX: 425px; 
    --scoreboardBBCFY: 0px;
    --roundInfoBBCFX: 0px;
    --roundInfoBBCFY: 1000px;



    --scoreboardX: var(--scoreboardRoAX);
    --scoreboardY: var(--scoreboardRoAY);
    --roundInfoX: var(--roundInfoRoAX);
    --roundInfoY: var(--roundInfoRoAY);
}


.scoreboard {
    top: var(--scoreboardY);
}

.scoreboard.SSBU {
    top: var(--scoreboardSSBUY);
}

.scoreboard.SF3S {
    top: var(--scoreboardSF3SY);
}

.scoreboard.GGS {
    top: var(--scoreboardGGSY);
}

.scoreboard.GGXR2 {
    top: var(--scoreboardGGXR2Y);
}

.scoreboard.BBCF {
    top: var(--scoreboardBBCFY);
}

.scoreboard.T7 {
    top: var(--scoreboardT7Y);
}



#scoreboardL {
    left: var(--scoreboardX);
}

#scoreboardL.SSBU {
    left: var(--scoreboardSSBUX);
}

#scoreboardL.SF3S {
    left: var(--scoreboardSF3SX);
    transform: scale(0.85);
}

#scoreboardL.GGS {
    left: var(--scoreboardGGSX);
    /* transform: scale(0.85); */
}

#scoreboardL.GGXR2 {
    left: var(--scoreboardGGXR2X);
    transform: scale(0.75);
}


#scoreboardL.BBCF {
    left: var(--scoreboardBBCFX);
    /* transform: scale(0.9); */
}

#scoreboardL.T7 {
    left: var(--scoreboardT7X);
    transform: scale(0.85);
}



#scoreboardR {
    right: var(--scoreboardX);
    transform: scaleX(-1);
}

#scoreboardR.SSBU {
    right: var(--scoreboardSSBUX);
    transform: scaleX(-1);
}

#scoreboardR.SF3S {
    right: var(--scoreboardSF3SX);
    transform: scale(-0.85, 0.85)
}

#scoreboardR.GGS {
    right: var(--scoreboardGGSX);
    /* transform: scale(-0.85, 0.85) */
}

#scoreboardR.GGXR2 {
    right: var(--scoreboardGGXR2X);
    transform: scale(-0.75, 0.75)
}

#scoreboardR.BBCF {
    right: var(--scoreboardBBCFX);
    /* transform: scale(-0.9, 0.9) */
}

#scoreboardR.T7 {
    right: var(--scoreboardT7X);
    transform: scale(-0.85, 0.85)
}

#overlayRound {
    top: var(--roundInfoY);
    left: var(--roundInfoX);
}

#overlayRound.SSBU {
    top: var(--roundInfoSSBUY);
    left: var(--roundInfoSSBUX);
}

#overlayRound.SF3S {
    top: var(--roundInfoSF3SY);
    left: var(--roundInfoSF3SX);
}

#overlayRound.GGS {
    top: var(--roundInfoGGSY);
    left: var(--roundInfoGGSX);
}

#overlayRound.GGXR2 {
    top: var(--roundInfoGGXR2Y);
    left: var(--roundInfoGGXR2X);
}

#overlayRound.BBCF {
    top: var(--roundInfoBBCFY);
    left: var(--roundInfoBBCFX);
}

#overlayRound.T7 {
    top: var(--roundInfoT7Y);
    left: var(--roundInfoT7X);
}