@font-face {
    font-family: "Deansgate";
    src: url('../Fonts/DeansgateCondensed-Bold.ttf');
}

@font-face {
    font-family: "Roboto";
    src: url('../Fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: "LemonMilk";
    src: url('../Fonts/LEMONMILK-Medium.otf');
}

@font-face {
    font-family: "CB";
    src: url('../Fonts/Urban-Nation.ttf');
}

body {
    font-family: "LemonMilk";
}

.topText {
  font-size: 48px;
  width: 100%;
  color: white;
  text-align: center;
  text-shadow: 5px 8px black;
}
.bottomText {
  position: absolute;
  bottom: 60px;
  font-size: 45px;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 5px 8px black;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.playerContainer {
    /* height: 8%; */
    width: 18%;
    border: groove;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    display: inline-flex;
    transform: translate(140px, 61.25px);
    overflow: hidden;
    background-color: hsla(0, 0%, 0%, 0.25);
}

.playerContainer.p1 {
    width: 25%;
    height: 511px;
    transform: translate(140px, 284.5px);
    min-width: 480px;
    min-height: 511px;
}

.playerContainer.p2 {
    /* width: 20%; */
    width: 384px;
    height: 288px;

}

.playerContainer.p3 {
    /* width: 20%; */
    width: 384px;
    height: 288px;
}

.playerContainer.p4 {
    /* width: 20%; */
    width: 384px;
    height: 288px;
}

.playerContainer.p5 {
    /* width: 15%; */
    width: 286.5px;
    height:218px;
    transform: translate(626px, 58.75px);
}
.playerContainer.p6 {
    /* width: 15%; */
    width: 286.5px;
    height:218px;
    transform: translate(626px, 58.75px);
}
.playerContainer.p7 {
    /* width: 15%; */
    width: 286.5px;
    height:218px;
    transform: translate(626px, 58.75px);
}
.playerContainer.p8 {
    /* width: 15%; */
    width: 286.5px;
    height:218px;
    transform: translate(626px, 58.75px);
}

.playerContainer > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    /* object-position: 31px 25px; */
    /* transform: scale(1.25); */
    filter: drop-shadow(-5px 2px 3px white);
    transform: translate(-20px, 36px) scale(1.25);
}

.playerContainer.p1 > img {
  /* object-position: 0px 48px; */
  transform: translate(-58px, 63px) scale(1.25);
}

.playerContainer.p1 > img.charImgRandom {
  /* object-position: 0px 48px; */
  transform: translate(0, 0) scale(1.25);
}

img.charImgRandom {
    /* object-position: center; */
    transform: translate(0, 0) scale(1.25);
}



.placing {
    font-size: 75px;
    color: gray;
    position: absolute;
    z-index: 1;
    left: 0px;
    font-weight: 900;
    font-family: "Deansgate";
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: black;
    top: -22px;
}

.placing.p1 {
    font-size: 150px;
    /* color: gold; */
    background: -webkit-linear-gradient(
        -72deg,
        #ffde45,
        #ffffff 16%,
        #ffde45 21%,
        #ffffff 24%,
        #452100 27%,
        #ffde45 36%,
        #ffffff 45%,
        #ffffff 60%,
        #ffde45 72%,
        #ffffff 80%,
        #ffde45 84%,
        #452100
      );
    color: transparent;
    -webkit-background-clip: text;
    -webkit-test-fill-color: transparent;
    top: -40px;
}

.placing.p2 {
    font-size: 100px;
    /* color: silver; */
    background: -webkit-linear-gradient(
        -72deg,
        #dedede,
        #ffffff 16%,
        #dedede 21%,
        #ffffff 24%,
        #454545 27%,
        #dedede 36%,
        #ffffff 45%,
        #ffffff 60%,
        #dedede 72%,
        #ffffff 80%,
        #dedede 84%,
        #a1a1a1
      );
    color: transparent;
    -webkit-background-clip: text;
    -webkit-test-fill-color: transparent;
}
.placing.p3 {
    font-size: 100px;
    /* color: bronze; */
    background: -webkit-linear-gradient(
        -72deg,
        #ca7345,
        #ffdeca 16%,
        #ca7345 21%,
        #ffdeca 24%,
        #a14521 27%,
        #ca7345 36%,
        #ffdeca 45%,
        #ffdeca 60%,
        #ca7345 72%,
        #ffdeca 80%,
        #ca7345 84%,
        #732100
      );
    color: transparent;
    -webkit-background-clip: text;
    -webkit-test-fill-color: transparent;
}
.placing.p4 {
    font-size: 100px;
    color: white;
}

.playerInfo {
    
    position: absolute;
    z-index: 1;
    font-size: 23px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: white;
    background: black;
}

.playerInfo.p1 {
    font-size: 38px;
    
}

.playerInfo.p2 {
    font-size: 30px;
}

.playerInfo.p3 {
    font-size: 30px;
}
.playerInfo.p4 {
    font-size: 30px;
}

.playerTag {
    font-size: calc(100% - 50%);
}

/* Animations! */

@keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes charaMoveOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-30px);
    }
  }
  
  @keyframes charaMoveIn {
    from {
      transform: translateX(-30px);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes trailMoveOut {
    /* cheap trick */
    from {
      transform: translateX(-30px);
    }
    to {
      transform: translateX(-30px);
    }
  }
  
  @keyframes trailMoveIn {
    from {
      transform: translateX(0px);
    }
    to {
      transform: translateX(-30px);
    }
  }
  