@font-face {
  font-family: "Deansgate";
  src: url("../Fonts/DeansgateCondensed-Bold.ttf");
}

@font-face {
  font-family: "LemonMilk";
  src: url("../Fonts/LEMONMILK-Medium.otf");
}

@font-face {
  font-family: "CB";
  src: url('../Fonts/Urban-Nation.ttf');
}

body {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  background: transparent;
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
}

.absol {
  position: absolute;
}

.mirror {
  position: absolute;
  transform: scaleX(-1);
}

.singlesClip {
  width: 1920px;
  height: 1080px;
  clip: rect(0px, 960px, 1080px, 0px);
}
.dubsClip {
  width: 1920px;
  height: 1080px;
  clip: rect(100px, 960px, 700px, 0px);
}

.mirrorP2 {
  position: absolute;
  transform: scaleX(-1);
  top: 0px;
  right: 0px;
}

#bgVids {
  filter: grayscale(0.8);
}

.vidTopLeft {
  clip: rect(0px, 960px, 1080px, 0px);
}
.vidTopRight {
  clip: rect(0px, 1920px, 1080px, 960px);
}
.vidBotLeft {
  clip: rect(540px, 960px, 1080px, 0px);
}
.vidBotRight {
  clip: rect(540px, 1920px, 1080px, 960px);
}

#textBGP1 {
  bottom: 0px;
  filter: brightness(50%) sepia(1);
}

.textBgSvg {
  bottom: -315px;
  filter: drop-shadow(0 3px 6px black);
}

.textBgSvg2 {
  bottom: -315px;
  right: 0px;
  filter: drop-shadow(0 3px 6px black);
}

#textBGP2 {
  bottom: 0px;
  right: -2px;
  filter: brightness(50%) sepia(1);
}

.character {
  position: absolute;
  width: 1920px;
  height: 1080px;
  object-fit: scale-down;
}

.chara {
  /* opacity: 0; */
}

.topRow {
  position: absolute;
  top: -180px;
}

.botRow {
  position: absolute;
  top: 410px;
}

.wrappers {
  position: absolute;
  /* font-family: "LemonMilk";  */
  font-family: "CB"; 
  text-align: center;
  white-space: nowrap;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
  /* opacity: 0; */
  font-size: 20px;
}



.wrappersSingles {
  transform: rotate(-3deg);
  width: 940px;
  height: 120px;
  bottom: 90px;
  /* line-height: 90px; */
  background-image: linear-gradient(
-180deg
, rgb(0, 183, 239), rgb(48, 186, 240), rgb(67, 189, 241), rgb(81, 192, 242), rgb(93, 195, 242), rgb(103, 197, 242));
  border-bottom: 10px solid transparent;
  border-right: 28px solid transparent;
  border-top: 10px solid transparent;
}
.wrapperInnerSingles {
  line-height: 110px;
}

.wrappersDoubles {
  width: 300px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p1WSingles {
  left: -7px;
}
.p2WSingles {
  right: -8px;
}

.topLeftDubs {
  top: 50px;
  left: 40px;
  transform: rotate(-5deg);
}
.topRightDubs {
  top: 50px;
  right: 40px;
  transform: rotate(5deg);
}

.botLeftDubs {
  bottom: 50px;
  left: 40px;
  transform: rotate(5deg);
}

.botRightDubs {
  bottom: 50px;
  right: 40px;
  transform: rotate(-5deg);
}

.name {
  color: white;
  /* font-size:90px; */
  display: block;
}

.tag {
  color: lightgray;
  /* font-size:50px; */
  display: block;
}

.pronouns {
  color: black;
  /* font-size:50px; */
  display: block;
}

.teamName {
  position: absolute;
  width: 690px;
  height: 90px;
  top: 495px;
  /* font-family: "LemonMilk"; */
  font-family: "CB";
  white-space: nowrap;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
  /* opacity: 0; */
  color: white;
  display: block;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(45deg, black, transparent);
  width: 40%;
  text-align: center;
}

#teamNameL {
  left: 0px;
}
#teamNameR {
  right: 0px;
}

.roundInfo {
  position: absolute;
  text-align: center;
  /* font-family: "Deansgate"; */
  font-family: "CB";
  white-space: nowrap;
  font-size: 34px;
}

.tournamentInfo {
  position: absolute;
  text-align: center;
  /* font-family: "Deansgate"; */
  font-family: "CB";
  white-space: nowrap;
  font-size: 28px;
}

.roundDuringDubs {
  top: 434px;
}

#round {
  width: 319px;
  height: 50px;
  left: 800px;
  top: 62px;
  color: black;
  line-height: 38px;
}

#tournament {
  width: 365px;
  height: 40px;
  left: 777px;
  top: 29px;
  color: rgb(65, 65, 65);
  line-height: 28px;
}

#casterInfo {
  position: absolute;
  width: 1920px;
}

.casterDuringDubs {
  top: 417px;
}

.caster {
  position: absolute;
  width: 170px;
  height: 34px;
  top: 130px;
  text-align: center;
  font-family: "Deansgate";
  color: black;
  line-height: 26px;
  white-space: nowrap;
}

#caster1 {
  left: 765px;
}

#caster2 {
  right: 765px;
}

.socialBox {
  position: absolute;
  width: 170px;
  height: 30px;
  top: 162px;
  text-align: center;
  font-family: "Deansgate";
  color: rgb(65, 65, 65);
  line-height: 26px;
  white-space: nowrap;
}

.icon {
  display: inline-block;
}

.twitterIcon {
  height: 19px;
  width: 19px;
  fill: rgb(65, 65, 65);
  transform: translate(0px, 2px);
}
.twitchIcon {
  height: 17px !important;
  width: 17px !important;
  fill: rgb(65, 65, 65);
  transform: translate(0px, 1px) !important;
}

#twitter1Wrapper,
#twitch1Wrapper {
  left: 765px;
}
#twitter2Wrapper,
#twitch2Wrapper {
  right: 765px;
}

#scores {
  position: absolute;
  width: 1920px;
}

.scoreTick {
  position: absolute;
  top: 212px;
  fill: #414141;
}

.scoreNumber {
  position: absolute;
  top: 192.5px;
  fill: #414141;
  font-size: 85px;
  font-family: "Deansgate";
}

#scoreNumberL {
  left: 845px;
}

#scoreNumberR {
  left: 1025px;
}

#scoreNumberC {
  left: 949px;
}

#scoreL-1 {
  left: 924px;
}
#scoreL-2 {
  left: 896px;
}
#scoreL-3 {
  left: 866px;
}

#scoreR-1 {
  right: 924px;
  transform: scaleX(-1);
}
#scoreR-2 {
  right: 896px;
  transform: scaleX(-1);
}
#scoreR-3 {
  right: 866px;
  transform: scaleX(-1);
}

.scoreBorderNumber {
  top: 209px;
  left: 755px;
}
.scoreBorder {
  top: 209px;
  left: 862px;
}

.scoreDuringDubs {
  top: 415px;
}

.dubEL {
  display: flex;
}

/* Animations! */

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes charaMoveOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-30px);
  }
}

@keyframes charaMoveIn {
  from {
    transform: translateX(-30px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes trailMoveOut {
  /* cheap trick */
  from {
    transform: translateX(-30px);
  }
  to {
    transform: translateX(-30px);
  }
}

@keyframes trailMoveIn {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-30px);
  }
}
