<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Top 8</title>
    <script src="Resources/Scripts/angular.min.js"></script>
    <script src="Resources/Scripts/jquery.min.js"></script>
    <script src="Resources/Scripts/top8.js" defer></script>
    <link rel="stylesheet" href="Resources/CSS/top8.css">

    
</head>

<body ng-app="angularapp" ng-controller="AngularAppCtrl">
    <div style="opacity: 0;" ng-style="fadeInScreen()">
        <div style="position:absolute; z-index: -1000;">
            <video ng-if="prev.top8Settings.useP1Background" autoplay loop class="absol bgVid" ng-src="{{prev.players[0].backgroundWebm}}" id="vidBGP1"></video>
            <video ng-if="displayCustomVideoBackground()" autoplay loop class="absol bgVid" ng-src="{{prev.top8Settings.customBackground}}" id="vidBGP1"></video>
            <img ng-if="displayCustomImageBackground()" ng-src="{{prev.top8Settings.customBackground}}" style="max-width: 100%; max-height: 100%;"/>
        </div>
        <div ng-show="prev.top8Settings.useTopText" class="topText">
            <span>{{prev.top8Settings.topText}}</span>
        </div>
        <div style="position: absolute; top:-150px;">
            <div ng-repeat="player in prev.players" ng-init="playerIndex = $index; playerNumber = $index + 1" class="playerContainer p{{$index +1}}" id="p{{$index +1}}" ng-show="player.name">
                <span class="placing p{{playerNumber}}" >{{player.placement}}</span>
                <img class="character char" id="charP{{playerNumber}}" ng-src="{{player.vsScreenSkinPath}}" ng-class="{'charImgRandom' : player.vsScreenSkinPath.indexOf('Random.png') != -1}" ng-style="{{getTransformInformation(player)}}"/>
                <span class="playerInfo p{{playerNumber}}">
                    <span ng-if="player.tag" class="playerTag">{{player.tag}} | </span><span class="playerName">{{player.name}}</span>
                </span>
            </div>
        </div>
        <div ng-show="prev.top8Settings.useBottomText" class="bottomText">
            <div ng-show="prev.top8Settings.bottomTextBracket"><img height="45px" width="45px" src="Resources\Overlay\Top8\startggicon.png" style="transform: translate(-18px,8px) scale(1.75);"/><span>{{prev.top8Settings.bottomTextBracket}}</span></div>
            <div ng-show="prev.top8Settings.bottomTextYoutube"><img height="45px" width="70px" src="Resources\Overlay\Top8\youtubeicon.png" style="transform: translate(-18px,8px) scale(1.75);"/><span>{{prev.top8Settings.bottomTextYoutube}}</span></div>
            <div ng-show="prev.top8Settings.bottomTextTwitch"><img height="45px" width="45px" src="Resources\Overlay\Top8\twitchicon.png" style="transform: translate(-18px,8px) scale(1.75);"/><span>{{prev.top8Settings.bottomTextTwitch}}</span></div>
            <div ng-show="prev.top8Settings.bottomTextTwitter">
                <svg xmlns="http://www.w3.org/2000/svg" height="45px" width="45px" viewBox="0 0 20 20" fill="#1DA1F2" style="transform: translate(-8px, 10px) scale(1.75);">
                    <path d="M18.258,3.266c-0.693,0.405-1.46,0.698-2.277,0.857c-0.653-0.686-1.586-1.115-2.618-1.115c-1.98,0-3.586,1.581-3.586,3.53c0,0.276,0.031,0.545,0.092,0.805C6.888,7.195,4.245,5.79,2.476,3.654C2.167,4.176,1.99,4.781,1.99,5.429c0,1.224,0.633,2.305,1.596,2.938C2.999,8.349,2.445,8.19,1.961,7.925C1.96,7.94,1.96,7.954,1.96,7.97c0,1.71,1.237,3.138,2.877,3.462c-0.301,0.08-0.617,0.123-0.945,0.123c-0.23,0-0.456-0.021-0.674-0.062c0.456,1.402,1.781,2.422,3.35,2.451c-1.228,0.947-2.773,1.512-4.454,1.512c-0.291,0-0.575-0.016-0.855-0.049c1.588,1,3.473,1.586,5.498,1.586c6.598,0,10.205-5.379,10.205-10.045c0-0.153-0.003-0.305-0.01-0.456c0.7-0.499,1.308-1.12,1.789-1.827c-0.644,0.28-1.334,0.469-2.06,0.555C17.422,4.782,17.99,4.091,18.258,3.266"/>
                </svg>
                <span>{{prev.top8Settings.bottomTextTwitter}}</span></div>
        </div>
    </div>
</body>

</html>